In [1]:
import numpy as np 
import pandas as pd

In [2]:

df=pd.read_csv(r"D:\Car_price_prediction\data\used_cars.csv")
print(df.head())

      brand                            model  model_year      milage  \
0      Ford  Utility Police Interceptor Base        2013  51,000 mi.
1   Hyundai                     Palisade SEL        2021  34,742 mi.
2     Lexus                    RX 350 RX 350        2022  22,372 mi.
3  INFINITI                 Q50 Hybrid Sport        2015  88,900 mi.
4      Audi        Q3 45 S line Premium Plus        2021   9,835 mi.

       fuel_type                                             engine  \
0  E85 Flex Fuel  300.0HP 3.7L V6 Cylinder Engine Flex Fuel Capa...
1       Gasoline                               3.8L V6 24V GDI DOHC
2       Gasoline                                     3.5 Liter DOHC
3         Hybrid  354.0HP 3.5L V6 Cylinder Engine Gas/Electric H...
4       Gasoline                         2.0L I4 16V GDI DOHC Turbo

        transmission                 ext_col int_col  \
0        6-Speed A/T                   Black   Black
1  8-Speed Automatic         Moonlight Cloud    Gray
2          Automatic                    Blue   Black
3        7-Speed A/T                   Black   Black
4  8-Speed Automatic  Glacier White Metallic   Black

                                 accident clean_title    price
0  At least 1 accident or damage reported         Yes  $10,300
1  At least 1 accident or damage reported         Yes  $38,005
2                           None reported         NaN  $54,598
3                           None reported         Yes  $15,500
4                           None reported         NaN  $34,999

In [3]:
print(df["brand"].unique())

['Ford' 'Hyundai' 'Lexus' 'INFINITI' 'Audi' 'Acura' 'BMW' 'Tesla' 'Land'
 'Aston' 'Toyota' 'Lincoln' 'Jaguar' 'Mercedes-Benz' 'Dodge' 'Nissan'
 'Genesis' 'Chevrolet' 'Kia' 'Jeep' 'Bentley' 'Honda' 'Lucid' 'MINI'
 'Porsche' 'Hummer' 'Chrysler' 'Volvo' 'Cadillac' 'Lamborghini' 'Maserati'
 'Volkswagen' 'Subaru' 'Rivian' 'GMC' 'RAM' 'Alfa' 'Ferrari' 'Scion'
 'Mitsubishi' 'Mazda' 'Saturn' 'Bugatti' 'Polestar' 'Rolls-Royce'
 'McLaren' 'Buick' 'Lotus' 'Pontiac' 'FIAT' 'Karma' 'Saab' 'Mercury'
 'Plymouth' 'smart' 'Maybach' 'Suzuki']

In [4]:
df.columns

Index(['brand', 'model', 'model_year', 'milage', 'fuel_type', 'engine',
       'transmission', 'ext_col', 'int_col', 'accident', 'clean_title',
       'price'],
      dtype='object')

In [5]:
df.drop(columns=["ext_col","int_col"],inplace=True)

In [6]:
df.head(5)

,brand,model,model_year,milage,fuel_type,engine,transmission,accident,clean_title,price
0,Ford,Utility Police Interceptor Base,2013,"51,000 mi.",E85 Flex Fuel,300.0HP 3.7L V6 Cylinder Engine Flex Fuel Capa...,6-Speed A/T,At least 1 accident or damage reported,Yes,"$10,300"
1,Hyundai,Palisade SEL,2021,"34,742 mi.",Gasoline,3.8L V6 24V GDI DOHC,8-Speed Automatic,At least 1 accident or damage reported,Yes,"$38,005"
2,Lexus,RX 350 RX 350,2022,"22,372 mi.",Gasoline,3.5 Liter DOHC,Automatic,None reported,NaN,"$54,598"
3,INFINITI,Q50 Hybrid Sport,2015,"88,900 mi.",Hybrid,354.0HP 3.5L V6 Cylinder Engine Gas/Electric H...,7-Speed A/T,None reported,Yes,"$15,500"
4,Audi,Q3 45 S line Premium Plus,2021,"9,835 mi.",Gasoline,2.0L I4 16V GDI DOHC Turbo,8-Speed Automatic,None reported,NaN,"$34,999"

In [7]:
def replace_accident(text):
    if text=="At least 1 accident or damage reported":
        return 1
    else:
        return 0

In [8]:
df["accident"]=df['accident'].apply(replace_accident)

In [9]:
df.head(5)

,brand,model,model_year,milage,fuel_type,engine,transmission,accident,clean_title,price
0,Ford,Utility Police Interceptor Base,2013,"51,000 mi.",E85 Flex Fuel,300.0HP 3.7L V6 Cylinder Engine Flex Fuel Capa...,6-Speed A/T,1,Yes,"$10,300"
1,Hyundai,Palisade SEL,2021,"34,742 mi.",Gasoline,3.8L V6 24V GDI DOHC,8-Speed Automatic,1,Yes,"$38,005"
2,Lexus,RX 350 RX 350,2022,"22,372 mi.",Gasoline,3.5 Liter DOHC,Automatic,0,NaN,"$54,598"
3,INFINITI,Q50 Hybrid Sport,2015,"88,900 mi.",Hybrid,354.0HP 3.5L V6 Cylinder Engine Gas/Electric H...,7-Speed A/T,0,Yes,"$15,500"
4,Audi,Q3 45 S line Premium Plus,2021,"9,835 mi.",Gasoline,2.0L I4 16V GDI DOHC Turbo,8-Speed Automatic,0,NaN,"$34,999"

In [10]:
df.isnull().sum()

brand             0
model             0
model_year        0
milage            0
fuel_type       170
engine            0
transmission      0
accident          0
clean_title     596
price             0
dtype: int64

In [11]:
df.shape

(4009, 10)

In [12]:
df.dropna(inplace=True)

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3269 entries, 0 to 4008
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   brand         3269 non-null   object
 1   model         3269 non-null   object
 2   model_year    3269 non-null   int64
 3   milage        3269 non-null   object
 4   fuel_type     3269 non-null   object
 5   engine        3269 non-null   object
 6   transmission  3269 non-null   object
 7   accident      3269 non-null   int64
 8   clean_title   3269 non-null   object
 9   price         3269 non-null   object
dtypes: int64(2), object(8)
memory usage: 280.9+ KB

In [14]:
def remove_ml(text):
    a=text
    return a[:-3]

In [15]:
df["milage"]=df["milage"].apply(remove_ml)

In [16]:
df.head()

,brand,model,model_year,milage,fuel_type,engine,transmission,accident,clean_title,price
0,Ford,Utility Police Interceptor Base,2013,"51,000",E85 Flex Fuel,300.0HP 3.7L V6 Cylinder Engine Flex Fuel Capa...,6-Speed A/T,1,Yes,"$10,300"
1,Hyundai,Palisade SEL,2021,"34,742",Gasoline,3.8L V6 24V GDI DOHC,8-Speed Automatic,1,Yes,"$38,005"
3,INFINITI,Q50 Hybrid Sport,2015,"88,900",Hybrid,354.0HP 3.5L V6 Cylinder Engine Gas/Electric H...,7-Speed A/T,0,Yes,"$15,500"
6,Audi,S3 2.0T Premium Plus,2017,"84,000",Gasoline,292.0HP 2.0L 4 Cylinder Engine Gasoline Fuel,6-Speed A/T,0,Yes,"$31,000"
7,BMW,740 iL,2001,"242,000",Gasoline,282.0HP 4.4L 8 Cylinder Engine Gasoline Fuel,A/T,0,Yes,"$7,300"

In [17]:
df["fuel_type"].unique()

array(['E85 Flex Fuel', 'Gasoline', 'Hybrid', 'Diesel', 'Plug-In Hybrid',
       '–', 'not supported'], dtype=object)

In [18]:
df=df[df["fuel_type"]!="-"]
df.shape

(3269, 10)

In [19]:
df["clean_title"]=df["clean_title"].apply(lambda x:1)

In [20]:
df.columns

Index(['brand', 'model', 'model_year', 'milage', 'fuel_type', 'engine',
       'transmission', 'accident', 'clean_title', 'price'],
      dtype='object')

In [21]:
# Remove commas and convert to int
df['milage'] = df['milage'].str.replace(',', '')
df['milage'] = df['milage'].astype('int32')

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3269 entries, 0 to 4008
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   brand         3269 non-null   object
 1   model         3269 non-null   object
 2   model_year    3269 non-null   int64
 3   milage        3269 non-null   int32
 4   fuel_type     3269 non-null   object
 5   engine        3269 non-null   object
 6   transmission  3269 non-null   object
 7   accident      3269 non-null   int64
 8   clean_title   3269 non-null   int64
 9   price         3269 non-null   object
dtypes: int32(1), int64(3), object(6)
memory usage: 268.2+ KB

In [23]:

# Convert price to numeric
df['price'] = df['price'].str.replace('$', '')
df['price'] = df['price'].str.replace(',', '')
df['price'] = df['price'].astype('int32')

In [24]:
X=df.drop("price",axis=1)
y=df["price"]

In [25]:
X.head()
X.shape

(3269, 9)

In [26]:
y.shape

(3269,)

In [29]:
X.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3269 entries, 0 to 4008
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   brand         3269 non-null   object
 1   model         3269 non-null   object
 2   model_year    3269 non-null   int64
 3   milage        3269 non-null   int32
 4   fuel_type     3269 non-null   object
 5   engine        3269 non-null   object
 6   transmission  3269 non-null   object
 7   accident      3269 non-null   int64
 8   clean_title   3269 non-null   int64
dtypes: int32(1), int64(3), object(5)
memory usage: 242.6+ KB

In [30]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder, OrdinalEncoder, StandardScaler
from sklearn.compose import ColumnTransformer

# Identify columns
target_col = 'price'

numeric_cols = ['model_year', 'milage']                   # continuous numeric
binary_cols = ['accident', 'clean_title']                 # binary 0/1 columns
categorical_onehot_cols = ['fuel_type', 'transmission']   # nominal
categorical_label_cols = ['brand', 'model', 'engine']     # ordinal/encoded labels

# Column Transformer with unknown category handling
preprocessor = ColumnTransformer(
    transformers=[
        ('num', StandardScaler(), numeric_cols),
        ('bin', 'passthrough', binary_cols),
        ('onehot', OneHotEncoder(drop='first', sparse_output=False, handle_unknown='ignore'), categorical_onehot_cols),
        ('label', OrdinalEncoder(handle_unknown='use_encoded_value', unknown_value=-1), categorical_label_cols)
    ],
    remainder='drop'
)

# Fit and transform
transformed_array = preprocessor.fit_transform(X)

# --- Get feature names ---
onehot_feature_names = preprocessor.named_transformers_['onehot'].get_feature_names_out(categorical_onehot_cols)
all_feature_names = (
    numeric_cols +
    binary_cols +
    list(onehot_feature_names) +
    categorical_label_cols
)

# --- Convert to DataFrame ---
df_transformed = pd.DataFrame(transformed_array, columns=all_feature_names)

# --- Add target column ---
df_transformed[target_col] = y.reset_index(drop=True)

print(df_transformed.head())

   model_year    milage  accident  clean_title  fuel_type_E85 Flex Fuel  \
0   -0.260339 -0.395790       1.0          1.0                      1.0
1    1.040212 -0.700365       1.0          1.0                      0.0
2    0.064799  0.314224       0.0          1.0                      0.0
3    0.389936  0.222428       0.0          1.0                      0.0
4   -2.211165  3.182380       0.0          1.0                      0.0

   fuel_type_Gasoline  fuel_type_Hybrid  fuel_type_Plug-In Hybrid  \
0                 0.0               0.0                       0.0
1                 1.0               0.0                       0.0
2                 0.0               1.0                       0.0
3                 1.0               0.0                       0.0
4                 1.0               0.0                       0.0

   fuel_type_not supported  fuel_type_–  ...  transmission_Automatic CVT  \
0                      0.0          0.0  ...                         0.0
1                      0.0          0.0  ...                         0.0
2                      0.0          0.0  ...                         0.0
3                      0.0          0.0  ...                         0.0
4                      0.0          0.0  ...                         0.0

   transmission_CVT Transmission  transmission_M/T  \
0                            0.0               0.0
1                            0.0               0.0
2                            0.0               0.0
3                            0.0               0.0
4                            0.0               0.0

   transmission_Transmission Overdrive Switch  \
0                                         0.0
1                                         0.0
2                                         0.0
3                                         0.0
4                                         0.0

   transmission_Transmission w/Dual Shift Mode  transmission_–  brand   model  \
0                                          0.0             0.0   14.0  1481.0
1                                          0.0             0.0   19.0  1011.0
2                                          0.0             0.0   20.0  1055.0
3                                          0.0             0.0    3.0  1235.0
4                                          0.0             0.0    4.0   119.0

   engine  price
0   492.0  10300
1   478.0  38005
2   630.0  15500
3   442.0  31000
4   415.0   7300

[5 rows x 45 columns]

In [31]:
df_transformed.isnull().sum()

model_year                                        0
milage                                            0
accident                                          0
clean_title                                       0
fuel_type_E85 Flex Fuel                           0
fuel_type_Gasoline                                0
fuel_type_Hybrid                                  0
fuel_type_Plug-In Hybrid                          0
fuel_type_not supported                           0
fuel_type_–                                       0
transmission_10-Speed Automatic                   0
transmission_4-Speed A/T                          0
transmission_4-Speed Automatic                    0
transmission_5-Speed A/T                          0
transmission_5-Speed Automatic                    0
transmission_5-Speed M/T                          0
transmission_6-Speed A/T                          0
transmission_6-Speed Automatic                    0
transmission_6-Speed Automatic with Auto-Shift    0
transmission_6-Speed M/T                          0
transmission_6-Speed Manual                       0
transmission_7-Speed                              0
transmission_7-Speed A/T                          0
transmission_7-Speed Automatic                    0
transmission_7-Speed Automatic with Auto-Shift    0
transmission_7-Speed DCT Automatic                0
transmission_7-Speed M/T                          0
transmission_7-Speed Manual                       0
transmission_8-Speed A/T                          0
transmission_8-Speed Automatic                    0
transmission_8-Speed Automatic with Auto-Shift    0
transmission_9-Speed A/T                          0
transmission_9-Speed Automatic                    0
transmission_A/T                                  0
transmission_Automatic                            0
transmission_Automatic CVT                        0
transmission_CVT Transmission                     0
transmission_M/T                                  0
transmission_Transmission Overdrive Switch        0
transmission_Transmission w/Dual Shift Mode       0
transmission_–                                    0
brand                                             0
model                                             0
engine                                            0
price                                             0
dtype: int64

In [32]:
df_transformed.shape

(3269, 45)

In [33]:
df_transformed.columns

Index(['model_year', 'milage', 'accident', 'clean_title',
       'fuel_type_E85 Flex Fuel', 'fuel_type_Gasoline', 'fuel_type_Hybrid',
       'fuel_type_Plug-In Hybrid', 'fuel_type_not supported', 'fuel_type_–',
       'transmission_10-Speed Automatic', 'transmission_4-Speed A/T',
       'transmission_4-Speed Automatic', 'transmission_5-Speed A/T',
       'transmission_5-Speed Automatic', 'transmission_5-Speed M/T',
       'transmission_6-Speed A/T', 'transmission_6-Speed Automatic',
       'transmission_6-Speed Automatic with Auto-Shift',
       'transmission_6-Speed M/T', 'transmission_6-Speed Manual',
       'transmission_7-Speed', 'transmission_7-Speed A/T',
       'transmission_7-Speed Automatic',
       'transmission_7-Speed Automatic with Auto-Shift',
       'transmission_7-Speed DCT Automatic', 'transmission_7-Speed M/T',
       'transmission_7-Speed Manual', 'transmission_8-Speed A/T',
       'transmission_8-Speed Automatic',
       'transmission_8-Speed Automatic with Auto-Shift',
       'transmission_9-Speed A/T', 'transmission_9-Speed Automatic',
       'transmission_A/T', 'transmission_Automatic',
       'transmission_Automatic CVT', 'transmission_CVT Transmission',
       'transmission_M/T', 'transmission_Transmission Overdrive Switch',
       'transmission_Transmission w/Dual Shift Mode', 'transmission_–',
       'brand', 'model', 'engine', 'price'],
      dtype='object')

In [148]:
df_transformed.to_csv("df_transformed.csv",index=False )

In [35]:
import pickle

# Suppose your fitted transformer is called `preprocessor`
with open("preprocessor.pkl", "wb") as f:
    pickle.dump(preprocessor, f)

print("✅ Fitted ColumnTransformer saved as 'preprocessor.pkl'")

✅ Fitted ColumnTransformer saved as 'preprocessor.pkl'